USE [master]
GO
/****** Object:  Database [Ecommerce]    Script Date: 31/07/2020 10:53:09 ******/
CREATE DATABASE [Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ecommerce.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ecommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Ecommerce_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce]
GO
USE [Ecommerce]
GO
/****** Object:  Sequence [dbo].[sq_ProductoId]    Script Date: 31/07/2020 10:53:09 ******/
CREATE SEQUENCE [dbo].[sq_ProductoId] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147337687
 CYCLE 
 CACHE 
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_NOMBRE] [varchar](200) NULL,
	[CAT_DESCRIPCION] [varchar](200) NULL,
	[CAT_ESTADO] [varchar](200) NULL,
	[CAT_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[CLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLI_DIRECCION] [varchar](200) NULL,
	[CLI_TELEFONO] [varchar](9) NULL,
	[CLI_IDENTIFICACION] [varchar](200) NOT NULL,
	[CLI_FECHA_CREACION] [datetime] NULL,
	[CLI_ESTADO] [varchar](10) NULL,
	[CLI_APELLIDOS] [varchar](200) NULL,
	[CLI_NOMBRES] [varchar](200) NULL,
	[CLI_FECHA_NACIMIENTO] [datetime] NULL,
	[CLI_CORREO] [varchar](200) NULL,
 CONSTRAINT [PK_TBL_CLIENTE_1] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DETALLE_IMPUESTOS]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_IMPUESTOS](
	[DIM_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMP_ID] [int] NULL,
	[PRO_ID] [int] NULL,
	[DIM_ESTADO] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_DETALLE_IMPUESTOS] PRIMARY KEY CLUSTERED 
(
	[DIM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DETALLE_PEDIDO]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_PEDIDO](
	[DEP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PED_ID] [int] NULL,
	[PED_FECHA] [datetime] NULL,
	[PRO_ID] [int] NULL,
	[DEP_CANTIDAD] [int] NULL,
	[DEP_DESCRIPCION] [varchar](200) NULL,
	[DEP_PRECIOUNITARIO] [decimal](8, 4) NULL,
	[DEP_PRECIOTOTAL] [decimal](8, 4) NULL,
	[DEP_ESTADO] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_DETALLE_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[DEP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FORMA_PAGO]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FORMA_PAGO](
	[FPA_ID] [int] IDENTITY(1,1) NOT NULL,
	[FPA_DESCRIPCION] [varchar](200) NULL,
	[FPA_CODIGOSRI] [varchar](10) NULL,
	[FPA_ESTADO] [varchar](200) NULL,
	[FPA_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_FORMA_PAGO] PRIMARY KEY CLUSTERED 
(
	[FPA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_IMPUESTOS]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_IMPUESTOS](
	[IMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMP_CODIGO_SRI] [varchar](20) NULL,
	[IMP_DESCRIPCION] [varchar](200) NULL,
	[IMP_PORCENTAJE] [decimal](8, 2) NULL,
	[IMP_ESTADO] [varchar](10) NULL,
	[IMP_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_IMPUESTOS] PRIMARY KEY CLUSTERED 
(
	[IMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PAGOS]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PAGOS](
	[PAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PED_ID] [int] NULL,
	[PED_FECHA] [datetime] NULL,
	[FPA_ID] [int] NULL,
	[PAG_FECHA] [datetime] NULL,
	[PAG_VALOR] [decimal](10, 4) NULL,
	[PAG_ESTADO] [varchar](10) NULL,
	[PAG_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_PAGOS] PRIMARY KEY CLUSTERED 
(
	[PAG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PEDIDO]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PEDIDO](
	[PED_ID] [int] IDENTITY(1,1) NOT NULL,
	[PED_SUBTOTAL] [decimal](8, 4) NULL,
	[PED_TOTAL] [decimal](8, 4) NULL,
	[PED_FECHA] [datetime] NOT NULL,
	[CLI_ID] [int] NULL,
	[CLI_IDENTIFICACION] [varchar](200) NULL,
	[PED_NUMERO] [int] NULL,
	[PED_IDENTIFICACION] [varchar](200) NULL,
	[PED_CLIENTE] [varchar](200) NULL,
	[PED_DIRECCION] [varchar](200) NULL,
	[PED_TELEFONO] [varchar](200) NULL,
	[PED_ESTADO] [varchar](10) NULL,
	[PED_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_PEDIDO_1] PRIMARY KEY CLUSTERED 
(
	[PED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO](
	[PRO_ID] [int] NOT NULL,
	[CAT_ID] [int] NULL,
	[PRO_CODIGO] [varchar](200) NULL,
	[PRO_NOMBRE] [varchar](200) NULL,
	[PRO_PRECIO_COMPRA] [decimal](8, 2) NULL,
	[PRO_PRECIO_VENTA] [decimal](8, 2) NULL,
	[PRO_STOCK_MINIMO] [int] NULL,
	[PRO_STOCK_MAXIMO] [int] NULL,
	[PRO_FECHA_CREACION] [datetime] NULL,
	[PRO_ESTADO] [varchar](10) NULL,
	[PRO_IMAGEN] [varchar](200) NULL,
	[PRO_DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_TBL_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ROL]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ROL](
	[ROL_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [varchar](200) NULL,
	[ROL_ESTADO] [varchar](10) NULL,
	[ROL_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_ROL] PRIMARY KEY CLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USUARIO]    Script Date: 31/07/2020 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USUARIO](
	[USU_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL_ID] [int] NULL,
	[USU_CORREO] [varchar](200) NULL,
	[USU_CONTRASENA] [varchar](200) NULL,
	[USU_NOMBRES] [varchar](200) NULL,
	[USU_APELLIDOS] [varchar](200) NULL,
	[USU_INTENTOS] [int] NULL,
	[USU_ESTADO] [varchar](10) NULL,
	[USU_FECHA_ACTUALIZACION] [datetime] NULL,
	[USU_FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_TBL_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] ON 

INSERT [dbo].[TBL_CATEGORIA] ([CAT_ID], [CAT_NOMBRE], [CAT_DESCRIPCION], [CAT_ESTADO], [CAT_FECHA_CREACION]) VALUES (2, N'Electrodomesticos', N'linea blanca', N'A', CAST(0x0000ABF600F5D79B AS DateTime))
INSERT [dbo].[TBL_CATEGORIA] ([CAT_ID], [CAT_NOMBRE], [CAT_DESCRIPCION], [CAT_ESTADO], [CAT_FECHA_CREACION]) VALUES (3, N'Tecnologia', N'equipos tecnologicos', N'A', CAST(0x0000ABF600F5E531 AS DateTime))
INSERT [dbo].[TBL_CATEGORIA] ([CAT_ID], [CAT_NOMBRE], [CAT_DESCRIPCION], [CAT_ESTADO], [CAT_FECHA_CREACION]) VALUES (4, N'Libros', N'libros', N'A', CAST(0x0000ABF70108A46D AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[TBL_DETALLE_IMPUESTOS] ON 

INSERT [dbo].[TBL_DETALLE_IMPUESTOS] ([DIM_ID], [IMP_ID], [PRO_ID], [DIM_ESTADO]) VALUES (1, 1, 1, N'A')
INSERT [dbo].[TBL_DETALLE_IMPUESTOS] ([DIM_ID], [IMP_ID], [PRO_ID], [DIM_ESTADO]) VALUES (2, 1, 2, N'A')
SET IDENTITY_INSERT [dbo].[TBL_DETALLE_IMPUESTOS] OFF
SET IDENTITY_INSERT [dbo].[TBL_FORMA_PAGO] ON 

INSERT [dbo].[TBL_FORMA_PAGO] ([FPA_ID], [FPA_DESCRIPCION], [FPA_CODIGOSRI], [FPA_ESTADO], [FPA_FECHA_CREACION]) VALUES (1, N'Transferancia', N'T', N'A', CAST(0x0000AC0500AB1272 AS DateTime))
INSERT [dbo].[TBL_FORMA_PAGO] ([FPA_ID], [FPA_DESCRIPCION], [FPA_CODIGOSRI], [FPA_ESTADO], [FPA_FECHA_CREACION]) VALUES (2, N'Paypal', N'P', N'A', CAST(0x0000AC0500AB1D07 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_FORMA_PAGO] OFF
SET IDENTITY_INSERT [dbo].[TBL_IMPUESTOS] ON 

INSERT [dbo].[TBL_IMPUESTOS] ([IMP_ID], [IMP_CODIGO_SRI], [IMP_DESCRIPCION], [IMP_PORCENTAJE], [IMP_ESTADO], [IMP_FECHA_CREACION]) VALUES (1, N'iva', N'Iva ', CAST(12.00 AS Decimal(8, 2)), N'A', CAST(0x0000AC0400DBDC87 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_IMPUESTOS] OFF
INSERT [dbo].[TBL_PRODUCTO] ([PRO_ID], [CAT_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_PRECIO_COMPRA], [PRO_PRECIO_VENTA], [PRO_STOCK_MINIMO], [PRO_STOCK_MAXIMO], [PRO_FECHA_CREACION], [PRO_ESTADO], [PRO_IMAGEN], [PRO_DESCRIPCION]) VALUES (1, 5, N'comida01', N'Combo Economico', CAST(3.00 AS Decimal(8, 2)), CAST(5.00 AS Decimal(8, 2)), 1, 10, CAST(0x0000ABFD0128D2C1 AS DateTime), N'A', N'~/img/2.jpg', N'Kfc Combo economico producto ACTUALIZAR')
INSERT [dbo].[TBL_PRODUCTO] ([PRO_ID], [CAT_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_PRECIO_COMPRA], [PRO_PRECIO_VENTA], [PRO_STOCK_MINIMO], [PRO_STOCK_MAXIMO], [PRO_FECHA_CREACION], [PRO_ESTADO], [PRO_IMAGEN], [PRO_DESCRIPCION]) VALUES (2, 5, N'comida02', N'Encebollado Simple 2', CAST(3.00 AS Decimal(8, 2)), CAST(5.00 AS Decimal(8, 2)), 1, 10, CAST(0x0000ABFD00BCD987 AS DateTime), N'A', N'~/img/2.jpg', N'Encebollado Simple 2 de Pezcado')
INSERT [dbo].[TBL_PRODUCTO] ([PRO_ID], [CAT_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_PRECIO_COMPRA], [PRO_PRECIO_VENTA], [PRO_STOCK_MINIMO], [PRO_STOCK_MAXIMO], [PRO_FECHA_CREACION], [PRO_ESTADO], [PRO_IMAGEN], [PRO_DESCRIPCION]) VALUES (3, 5, N'comida03', N'Ceviche de Camaron', CAST(3.00 AS Decimal(8, 2)), CAST(5.00 AS Decimal(8, 2)), 1, 10, CAST(0x0000ABFD00BD095B AS DateTime), N'A', N'~/img/3.jpg', N'Ceviche de Camaron ')
SET IDENTITY_INSERT [dbo].[TBL_ROL] ON 

INSERT [dbo].[TBL_ROL] ([ROL_ID], [ROL_DESCRIPCION], [ROL_ESTADO], [ROL_FECHA_CREACION]) VALUES (1, N'Administrador', N'A', CAST(0x0000ABFD001D0E6D AS DateTime))
INSERT [dbo].[TBL_ROL] ([ROL_ID], [ROL_DESCRIPCION], [ROL_ESTADO], [ROL_FECHA_CREACION]) VALUES (2, N'Cliente', N'A', CAST(0x0000ABFD001D25F8 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_ROL] OFF
SET IDENTITY_INSERT [dbo].[TBL_USUARIO] ON 

INSERT [dbo].[TBL_USUARIO] ([USU_ID], [ROL_ID], [USU_CORREO], [USU_CONTRASENA], [USU_NOMBRES], [USU_APELLIDOS], [USU_INTENTOS], [USU_ESTADO], [USU_FECHA_ACTUALIZACION], [USU_FECHA_CREACION]) VALUES (1, 1, N'frank@mail.com', N'123456', N'Franklin', N'Caiza', 0, N'A', CAST(0x0000AC06015735FC AS DateTime), CAST(0x0000ABFD001D503C AS DateTime))
INSERT [dbo].[TBL_USUARIO] ([USU_ID], [ROL_ID], [USU_CORREO], [USU_CONTRASENA], [USU_NOMBRES], [USU_APELLIDOS], [USU_INTENTOS], [USU_ESTADO], [USU_FECHA_ACTUALIZACION], [USU_FECHA_CREACION]) VALUES (2, 2, N'cliente@mail.com', N'123456', N'Alexandra', N'Lopez', 0, N'A', CAST(0x0000AC0500BA8EC4 AS DateTime), CAST(0x0000ABFD001D9037 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_USUARIO] OFF
/****** Object:  Index [RELATIONSHIP_5_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_5_FK] ON [dbo].[TBL_DETALLE_IMPUESTOS]
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[TBL_DETALLE_IMPUESTOS]
(
	[IMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[TBL_DETALLE_PEDIDO]
(
	[PED_ID] ASC,
	[PED_FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[TBL_DETALLE_PEDIDO]
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_12_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_12_FK] ON [dbo].[TBL_PAGOS]
(
	[PED_ID] ASC,
	[PED_FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_13_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_13_FK] ON [dbo].[TBL_PAGOS]
(
	[FPA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[TBL_PEDIDO]
(
	[CLI_ID] ASC,
	[CLI_IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[TBL_PRODUCTO]
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 31/07/2020 10:53:09 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[TBL_USUARIO]
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CATEGORIA] ADD  CONSTRAINT [DF_TBL_CATEGORIA_CAT_FECHA_CREACION]  DEFAULT (getdate()) FOR [CAT_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_FORMA_PAGO] ADD  CONSTRAINT [DF_TBL_FORMA_PAGO_FPA_FECHA_CREACION]  DEFAULT (getdate()) FOR [FPA_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_IMPUESTOS] ADD  CONSTRAINT [DF__TBL_IMPUE__IMP_F__48CFD27E]  DEFAULT (getdate()) FOR [IMP_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_PAGOS] ADD  CONSTRAINT [DF__TBL_PAGOS__PAG_F__4BAC3F29]  DEFAULT (getdate()) FOR [PAG_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_PEDIDO] ADD  CONSTRAINT [DF__TBL_PEDID__PED_F__4E88ABD4]  DEFAULT (getdate()) FOR [PED_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [DF__TBL_PRODU__PRO_F__5165187F]  DEFAULT (getdate()) FOR [PRO_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_ROL] ADD  CONSTRAINT [DF_TBL_ROL_ROL_FECHA_CREACION]  DEFAULT (getdate()) FOR [ROL_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_USUARIO] ADD  CONSTRAINT [DF_TBL_USUARIO_USU_FECHA_CREACION]  DEFAULT (getdate()) FOR [USU_FECHA_CREACION]
GO
ALTER TABLE [dbo].[TBL_DETALLE_IMPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETA_RELATIONS_TBL_IMPU] FOREIGN KEY([IMP_ID])
REFERENCES [dbo].[TBL_IMPUESTOS] ([IMP_ID])
GO
ALTER TABLE [dbo].[TBL_DETALLE_IMPUESTOS] CHECK CONSTRAINT [FK_TBL_DETA_RELATIONS_TBL_IMPU]
GO
ALTER TABLE [dbo].[TBL_DETALLE_IMPUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETALLE_IMPUESTOS_TBL_PRODUCTO] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[TBL_PRODUCTO] ([PRO_ID])
GO
ALTER TABLE [dbo].[TBL_DETALLE_IMPUESTOS] CHECK CONSTRAINT [FK_TBL_DETALLE_IMPUESTOS_TBL_PRODUCTO]
GO
ALTER TABLE [dbo].[TBL_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETALLE_PEDIDO_TBL_PEDIDO] FOREIGN KEY([PED_ID])
REFERENCES [dbo].[TBL_PEDIDO] ([PED_ID])
GO
ALTER TABLE [dbo].[TBL_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_TBL_DETALLE_PEDIDO_TBL_PEDIDO]
GO
ALTER TABLE [dbo].[TBL_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETALLE_PEDIDO_TBL_PRODUCTO] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[TBL_PRODUCTO] ([PRO_ID])
GO
ALTER TABLE [dbo].[TBL_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_TBL_DETALLE_PEDIDO_TBL_PRODUCTO]
GO
ALTER TABLE [dbo].[TBL_PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PAGO_RELATIONS_TBL_FORM] FOREIGN KEY([FPA_ID])
REFERENCES [dbo].[TBL_FORMA_PAGO] ([FPA_ID])
GO
ALTER TABLE [dbo].[TBL_PAGOS] CHECK CONSTRAINT [FK_TBL_PAGO_RELATIONS_TBL_FORM]
GO
ALTER TABLE [dbo].[TBL_PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PAGOS_TBL_PEDIDO] FOREIGN KEY([PED_ID])
REFERENCES [dbo].[TBL_PEDIDO] ([PED_ID])
GO
ALTER TABLE [dbo].[TBL_PAGOS] CHECK CONSTRAINT [FK_TBL_PAGOS_TBL_PEDIDO]
GO
ALTER TABLE [dbo].[TBL_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PEDIDO_TBL_CLIENTE] FOREIGN KEY([CLI_ID])
REFERENCES [dbo].[TBL_CLIENTE] ([CLI_ID])
GO
ALTER TABLE [dbo].[TBL_PEDIDO] CHECK CONSTRAINT [FK_TBL_PEDIDO_TBL_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PROD_RELATIONS_TBL_CATE] FOREIGN KEY([CAT_ID])
REFERENCES [dbo].[TBL_CATEGORIA] ([CAT_ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK_TBL_PROD_RELATIONS_TBL_CATE]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USUA_RELATIONS_TBL_ROL] FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[TBL_ROL] ([ROL_ID])
GO
ALTER TABLE [dbo].[TBL_USUARIO] CHECK CONSTRAINT [FK_TBL_USUA_RELATIONS_TBL_ROL]
GO
USE [master]
GO
